body {
    background-image: url(../Assets/Images/4k-wallpaper-architecture-background-1308624.jpg);
    background-size: cover;
}

p {
    color: #777;
}

.card-image {
    height: 225px;
}

.project-title {
    text-decoration: none !important;
}

#email {
    font-size: 14px;
}